<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (C) 2008 ZXing authors

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seatunity.boardingpass"
    android:installLocation="auto"
    android:versionCode="94"
    android:versionName="4.5.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19"
        tools:ignore="OldTargetApi" />

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="false" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera.front" -->
    <!-- android:required="false" /> -->
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera.autofocus" -->
    <!-- android:required="false" -->
    <!-- tools:ignore="DuplicateUsesFeature" /> -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.wifi" -->
    <!-- android:required="false" /> -->
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature android:name="android.hardware.touchscreen" />
    <!-- TODO make this not required again after android.hardware.camera.any is available -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.seatunity.boardingpass.utilty.BoardingPassApplication"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@drawable/ic_home"
        android:label="@string/app_name_seatunity" >
        <activity
            android:name="com.touhiDroid.filepicker.FilePickerActivity"
            android:label="@string/app_name_seatunity" >
        </activity>
        <!-- <activity -->
        <!-- android:name="com.seatunity.boardingpass.ActingAsHookActivity" -->
        <!-- android:label="@string/app_name_seatunity" -->
        <!-- android:theme="@style/HomeActivityTheme" > -->
        <!-- </activity> -->
        <activity
            android:name="com.seatunity.boardingpass.SplashActivity"
            android:label="@string/app_name_seatunity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seatunity.boardingpass.EditUserNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" >
        </activity>
        <activity
            android:name="com.seatunity.boardingpass.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pkpass" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seatunity.boardingpass.ForgotPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" >
        </activity>
        <activity
            android:name="com.seatunity.boardingpass.PasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" >
        </activity>
        <!-- <activity -->
        <!-- android:name="com.seatunity.boardingpass.HomeActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/HomeActivityTheme" > -->
        <!-- </activity> -->

        <activity
            android:name="com.seatunity.boardingpass.TermAndConditionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" >
            <intent-filter>
                <data android:scheme="startActivityFromLink" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seatunity.boardingpass.AcountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.touhiDroid.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zxing.appspot.com"
                    android:path="/scan"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.artifex.mupdfdemo.MuPDFActivity"
            android:label="@string/app_name_seatunity"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.artifex.mupdfdemo.OutlineActivity"
            android:label="@string/outline_title"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.artifex.mupdfdemo.PrintDialogActivity"
            android:label="@string/print"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>

        <receiver android:name="com.seatunity.boardingpass.networkstatetracker.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>